.idea
**/img-in/*.(jpg|png|webp)
**/img-out/*.(jpg|png|webp)
**/in/*.(jpg|png|webp)
**/out/*.(jpg|png|webp)
**/img-archive/**/**/*.(jpg|png|webp)
**/u2net.onnx

.DS_STORE

node_modules

/compress-img/img-archive/**/
/img-to-pdf/img/*.png
/remove-bg/img-(in|out)/*.(jpg|png|webp)

**/**/img.png
**/**/img.jpg
**/**/img.webp
**/**/*.pdf
**/**/temp/